.btn{
    background-color: aquamarine;
    color:black;
}
label{
    font-weight: 20px;
    color: blue;
    background-color: #f17874;
}
.userdetails{
    background-color: antiquewhite;
}
.first-col{
    background-color: aquamarine;
}
.first-card{
    color: orange;
}